
#introCarousel {
    margin:0 auto;
    font-weight:bold;
}
.col-sm-12 {
    background-image:url(hit.jpg) ;
    background-size:100% 120%;
    background-repeat:no-repeat;
    height:40%;
    margin:0 auto;
    background-position:center center;
}
#role_image1 {
    height:80%;
    width:100%;
}
#role_image2 {
    height:80%;
    width:100%;
}
.jumbotron {
    height:0px;
}
#role_image3 {
    height:80%;
    width:100%;
 }
#role_image4 {
    height:80%;
    width:100%;
}
#first {

}
#center_1 {
    margin-top:0%;
}
#center_2 {
    margin-top:5%;
}
.jumbotron TABLE {
    background-image:url("http://image7.360doc.com/DownloadImg/2010/01/2405/2217239_2.jpg");
}
#center_2 .col-sm-3{
    border:1px solid #ffffff;
    min-height:33%;
    background:rgba(230, 230, 230, 0.9) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
    filter:Alpha(opacity=40); background:#000000;/*实现IE背景透明*/
}
#center_2 .col-sm-3 h1 {
    margin-top:10px;
    margin-bottom:10px;
    color:#ff0000;
    text-shadow:0.25px 0.25px 0.25px #000000;

}

